body{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background: white;
	padding-top: 50px;
}
h1{
	font-size: 25pt;
	font-weight: bold;
}
h3 h2{
	color: black;
	text-align: center;
}
/*#meetingtimes{
	position: absolute;
	right: 10px;
	width: 40%;
}*/
div.main{
	width: 100%;
	/*background-image: url(../../Images/fpclogo.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
	background-size: 40%;
}
.wrapper{
	text-align: center;
	width: 100%;
}
#sign-up{
	text-align: center;
}
iframe {
	display: inline;
}